<!DOCTYPE html>
<html lang="zh-Hans">
<head>
    <meta charset="UTF-8">
    <title>简历编辑器</title>
 <link rel="stylesheet" href="./css/index.css">
 <link rel="stylesheet" href="./css/editable-span.css">
 <link rel="stylesheet" href="./css/login.css">
 <link rel="stylesheet" href="./css/singUp.css">
</head>
<body>
    <div class="page" id="app">
        <aside>
            <div class="upper">
                <ul class="actions">
                    <li><button class="button" @click="onClickSave">保存</button> </li>
                    <li><button class="button">分享</button> </li>
                    <li><button class="button">打印</button> </li>
                    <li><button class="button">换肤</button> </li>
                </ul>
            </div>
            <div class="down">
                    <button class="button" @click="onLogout" v-show="hasLogin()">登出</button>
            </div>           
        </aside>
        <main>
            <div class="resume">
                <section class="profile">                  
                    <!-- <h1 contenteditable="true">
                        <input type="text" v-model="resume.name">
                    </h1> -->
                    <!-- {{currentUser}} -->
                    <h1>
                        <editable-span :value="resume.name" @edit="onEdit('name',$event)"></editable-span>
                        <!-- {{resume.name}}                            -->
                    </h1>                   
                    <!-- <h1>{{resume.name}}</h1> -->
                    <p>应聘职位：<editable-span :value="resume.jobTitle" @edit="onEdit('jobTitle',$event)"></editable-span></p>
                    <p class="profile">
                            <editable-span :value="resume.birthday" @edit="onEdit('birthday',$event)"></editable-span>
                        |
                        <editable-span :value="resume.gender" @edit="onEdit('gender',$event)"></editable-span>
                        |
                        <editable-span :value="resume.email" @edit="onEdit('email',$event)"></editable-span>
                        |
                        <editable-span :value="resume.phone" @edit="onEdit('phone',$event)"></editable-span>
                    </p>
                    
                </section>
                <section class="skills">
                    <h2>技能</h2>
                    <ul>
                        <li>
                            <span class="name">
                                静态页面制作
                            </span>
                            <div class="description">
                                完美实现设计稿
                            </div>
                        </li>
                        <li>
                            <span class="name">
                                    静态页面制作
                                </span>
                            <div class="description">
                                完美实现设计稿
                            </div>
                        </li>
                        <li>
                            <span class="name">
                                        静态页面制作
                                    </span>
                            <div class="description">
                                完美实现设计稿
                            </div>
                        </li>
                        <li>
                            <span class="name">
                                            静态页面制作
                                        </span>
                            <div class="description">
                                完美实现设计稿
                            </div>
                        </li>
                    </ul>
                </section>
                <section class="projects">
                    <h2>项目经历</h2>
                    <ol>
                        <li>
                            <header>
                                <div class="start">
                                    <h3 class="name">我的简历</h3>
                                    <span class="link">http...</span>
                                </div>
                                <div class="end">
                                    <span class="keywords">CSS3、jQuery、响应式</span>
                                </div>
                            </header>
                            <p class="description">如何做项目的</p>
                        </li>
                        <li>
                            <header>
                                <div class="start">
                                    <h3 class="name">我的简历</h3>
                                    <span class="link">http...</span>
                                </div>
                                <div class="end">
                                    <span class="keywords">CSS3、jQuery、响应式</span>
                                </div>
                            </header>
                            <p class="description">如何做项目的</p>
                        </li>
                        <li>
                            <header>
                                <div class="start">
                                    <h3 class="name">我的简历</h3>
                                    <span class="link">http...</span>
                                </div>
                                <div class="end">
                                    <span class="keywords">CSS3、jQuery、响应式</span>
                                </div>
                            </header>
                            <p class="description">如何做项目的</p>
                        </li>
                        <li>
                            <header>
                                <div class="start">
                                    <h3 class="name">我的简历</h3>
                                    <span class="link">http...</span>
                                </div>
                                <div class="end">
                                    <span class="keywords">CSS3、jQuery、响应式</span>
                                </div>
                            </header>
                            <p class="description">如何做项目的</p>
                        </li>
                    </ol>

                </section>
            </div>
        </main>
        <div v-show="loginVisible" class="login" v-cloak>
            <form class="form" @submit.prevent="onLogin">
                    <h2>登录</h2>
                    <button type="button" @click="loginVisible = false">关闭</button>
                    <div class="row">
                        <label >邮箱</label>
                        <input type="text" v-model="login.email">
                    </div>
                    <div class="row">
                        <label>密码</label>
                        <input type="password" v-model="login.password">
                    </div>
                    <div class="actions">
                        <button type="submit">提交</button>
                        <a href="#" @click="signUpVisible = true;loginVisible = false">注册</a>
                    </div>
                    
            </form>            
            <!--  -->
        </div>
        <div v-show="signUpVisible" class="signUp" v-cloak>
                <form class="form" @submit.prevent="onSignUp">  <!-- 阻止默认跳转  文档里叫做事件修饰符-->
                    <h2>注册</h2>
                    <button type="button" @click="loginVisible = false">关闭</button>
                    <div class="row">
                        <label>邮箱</label>
                        <input type="text" v-model="signUp.email">    
                    </div>
                    <div class="row">
                            <label>密码</label>
                            <input type="password" v-model="signUp.password">
                        </div>
                    <div class="actions">
                        <button type="submit">提交</button>
                        <a href="#" @click="signUpVisible = false;loginVisible = true" >登录</a>
                    </div>

                </form>
        </div>
    </div>



    <script src="./vendors/av-min.js"></script>
   <script>
            // var TestObject = AV.Object.extend('TestObject');
            // var testObject = new TestObject();
            // testObject.save({
            //     words: 'Hello World!'
            // }).then(function (object) {
            //     alert('LeanCloud Rocks!');
            // })

   </script> 
   <script src="./js/av.js"></script>
   <script src="./vendors/vue.min.js"></script>
   <script src="./js/editable-span.js"></script>
   <script src="./js/app.js"></script>

</body>
</html>