<!DOCTYPE html>
<html lang="zh-Hans">
<head>
    <meta charset="UTF-8">
    <title>简历编辑器</title>
 <link rel="stylesheet" href="./css/index.css">
 <link rel="stylesheet" href="./css/editable-span.css">
 <link rel="stylesheet" href="./css/login.css">
 <link rel="stylesheet" href="./css/singUp.css">
 <link rel="stylesheet" href="./css/share.css">
</head>
<body>
    <div class="page" id="app">
        <aside>
            <div class="upper">
                <ul class="actions">
                    <li><button class="button" @click="onClickSave">保存</button> </li>
                    <li><button class="button" @click="shareVisible = true">分享</button> </li>
                    <li><button class="button">打印</button> </li>
                    <li><button class="button">换肤</button> </li>
                </ul>
            </div>
            <div class="down">
                    <button class="button" @click="onLogout" v-show="hasLogin()">登出</button>
            </div>           
        </aside>
        <main>
            <div class="resume">
                <!-- {{resume}} -->
                <section class="profile">                  
                    <!-- <h1 contenteditable="true">
                        <input type="text" v-model="resume.name">
                    </h1> -->
                    <!-- {{currentUser}} -->
                    <h1>
                        <editable-span :value="resume.name" @edit="onEdit('name',$event)"></editable-span>
                        <!-- {{resume.name}}                            -->
                    </h1>                   
                    <!-- <h1>{{resume.name}}</h1> -->
                    <p>应聘职位：<editable-span :value="resume.jobTitle" @edit="onEdit('jobTitle',$event)"></editable-span></p>
                    <p class="profile">
                            <editable-span :value="resume.birthday" @edit="onEdit('birthday',$event)"></editable-span>
                        |
                        <editable-span :value="resume.gender" @edit="onEdit('gender',$event)"></editable-span>
                        |
                        <editable-span :value="resume.email" @edit="onEdit('email',$event)"></editable-span>
                        |
                        <editable-span :value="resume.phone" @edit="onEdit('phone',$event)"></editable-span>
                    </p>
                    
                </section>
                <section class="skills">
                    <h2>技能</h2>
                    <ul>
                        <li v-for="skill,index in resume.skills">
                            <!-- {{index}} -->
                                <editable-span class="name" :value="skill.name" @edit="onEdit(`skills[${index}].name`,$event)">
                                </editable-span>
                                    <div class="description">
                                        <editable-span :value="skill.description" @edit="onEdit(`skills[${index}].description`,$event)"></editable-span>                                       
                                    </div>
                                    <span class="remove" v-if="index>=4" @click="removeSkill(index)">
                                            删除
                                    </span>
                        </li>
                        <li>
                            <span @click="addSkill">
                                    添加
                            </span>
                            
                        </li>
                    </ul>
                </section>
                <section class="projects">
                    <h2>项目经历</h2>
                    <ol>
                        <li v-for="project,index in resume.projects">
                            <header>
                                <div class="start">
                                    <h3 class="name">
                                    <editable-span :value="project.name" @edit="onEdit(`projects[${index}].name`,$event)"></editable-span>
                                    </h3>
                                    <span class="link">
                                        <editable-span :value="project.link" @edit="onEdit(`projects[${index}].link`,$event)"></editable-span>
                                    </span>
                                </div>
                                <div class="end">
                                    <span class="keywords">
                                            <editable-span :value="project.keywords" @edit="onEdit(`projects[${index}].keywords`,$event)"></editable-span>
                                    </span>
                                </div>
                            </header>
                            <p class="description">
                                    <editable-span :value="project.description" @edit="onEdit(`projects[${index}].description`,$event)"></editable-span>
                            </p>
                            <span class="remove" v-if="index>=3" @click="removeProject(index)">
                                删除
                            </span>
                        </li>
                        <li>
                            <span @click="addProject">
                                添加
                            </span>
                        </li>
                    </ol>

                </section>
            </div>
        </main>
        <div v-show="loginVisible" class="login" v-cloak>
            <form class="form" @submit.prevent="onLogin">
                    <h2>登录</h2>
                    <button type="button" @click="loginVisible = false">关闭</button>
                    <div class="row">
                        <label >邮箱</label>
                        <input type="text" v-model="login.email">
                    </div>
                    <div class="row">
                        <label>密码</label>
                        <input type="password" v-model="login.password">
                    </div>
                    <div class="actions">
                        <button type="submit">提交</button>
                        <a href="#" @click="signUpVisible = true;loginVisible = false">注册</a>
                    </div>
                    
            </form>            
            <!--  -->
        </div>
        <div v-show="signUpVisible" class="signUp" v-cloak>
                <form class="form" @submit.prevent="onSignUp">  <!-- 阻止默认跳转  文档里叫做事件修饰符-->
                    <h2>注册</h2>
                    <button type="button" @click="signUpVisible = false">关闭</button>
                    <div class="row">
                        <label>邮箱</label>
                        <input type="text" v-model="signUp.email">    
                    </div>
                    <div class="row">
                            <label>密码</label>
                            <input type="password" v-model="signUp.password">
                        </div>
                    <div class="actions">
                        <button type="submit">提交</button>
                        <a href="#" @click="signUpVisible = false;loginVisible = true" >登录</a>
                    </div>

                </form>
        </div>
        <div v-show="shareVisible" class="share" v-cloak>
            <h2>请将下面链接分享给面试官</h2>
            <div>
                <textarea readonly>{{shareLink}}</textarea>           
            </div>
        </div>
    </div>



    <script src="./vendors/av-min.js"></script>
   <script>
            // var TestObject = AV.Object.extend('TestObject');
            // var testObject = new TestObject();
            // testObject.save({
            //     words: 'Hello World!'
            // }).then(function (object) {
            //     alert('LeanCloud Rocks!');
            // })

   </script> 
   <script src="./js/av.js"></script>
   <script src="./vendors/vue.min.js"></script>
   <script src="./js/editable-span.js"></script>
   <script src="./js/app.js"></script>

</body>
</html>